<h1>Checkout Page</h1>

<div>
    <i>View Order Summaries</i>
    <p>blabla..</p>
    <p>blabla..</p>
    <p>blabla..</p>
</div>
<br>
<%= button_to "Make Payment", make_payment_path %>


<hr>
<form name="frmPayment" method="post" action="https://test2pay.ghl.com/IPGSG/Payment.aspx">
    <input type="hidden" name="TransactionType" value="SALE">
    <input type="text" name="PymtMethod" value="ANY">
    <input type="hidden" name="ServiceID" value="sit">
    <input type="hidden" name="PaymentID" value="<%= @payment_id %>">
    <input type="hidden" name="OrderNumber" value="IJKLMN">
    <input type="hidden" name="PaymentDesc" value="Booking No: IJKLMN, Sector: KUL-BKI, First Flight Date: 26 Sep 2012">
    <input type="hidden" name="MerchantName" value="Merchant A">
    <input type="hidden" name="MerchantApprovalURL" value="<%= @approval_url %>">
    <input type="hidden" name="MerchantUnApprovalURL" value="<%= @unapproval_url %>">
    <input type="hidden" name="MerchantCallBackURL" value="<%= @callback_url %>">
    <input type="hidden" name="MerchantReturnURL" value="<%= @return_url %>">
    <input type="hidden" name="Amount" value="228.00">
    <input type="hidden" name="CurrencyCode" value="MYR">
    <input type="hidden" name="CustIP" value="192.168.2.35">
    <input type="hidden" name="CustName" value="Jason">
    <input type="hidden" name="CustEmail" value="Jasonabc@gmail.com">
    <input type="hidden" name="CustPhone" value="60121235678">
    <input type="hidden" name="HashValue" value="<%= @hashval %>">
    <input type="hidden" name="LanguageCode" value="en">
    <input type="hidden" name="PageTimeout" value="780">
    <input type="submit">
</form>