<h1>Checkout Page</h1>

<div>
    <i>View Order Summaries</i>
    <p>blabla..</p>
    <p>blabla..</p>
    <p>blabla..</p>
</div>
<br>
<%#= button_to "Make Payment", make_payment_path, params: {amount: @amount} %>


<hr>
<form name="frmPayment" method="post" action="https://test2pay.ghl.com/IPGSG/Payment.aspx">
    <input type="text" name="TransactionType" value="SALE">
    <input type="text" name="PymtMethod" value="ANY">
    <input type="text" name="ServiceID" value="<%= @api_id %>">
    <input type="text" name="PaymentID" value="<%= @payment_id %>">
    <input type="text" name="OrderNumber" value="<%= @payment_id %>">
    <input type="text" name="PaymentDesc" value="Booking No: IJKLMN, Sector: KUL-BKI, First Flight Date: 26 Sep 2012">
    <input type="text" name="MerchantName" value="Merchant A">
    <input type="text" name="MerchantApprovalURL" value="<%= @approval_url %>">
    <input type="text" name="MerchantUnApprovalURL" value="<%= @unapproval_url %>">
    <input type="text" name="MerchantCallBackURL" value="<%= @callback_url %>">
    <input type="text" name="MerchantReturnURL" value="<%= @return_url %>">
    <input type="text" name="Amount" value="<%= @amount %>">
    <input type="text" name="CurrencyCode" value="MYR">
    <input type="text" name="CustIP" value="192.168.2.35">
    <input type="text" name="CustName" value="Jason">
    <input type="text" name="CustEmail" value="Jasonabc@gmail.com">
    <input type="text" name="CustPhone" value="60121235678">
    <input type="text" name="HashValue" value="<%= @hashval %>">
    <input type="text" name="LanguageCode" value="en">
    <input type="text" name="PageTimeout" value="<%= @timeout %>">
    <input type="submit">
</form>