<p id="notice"><%= notice %></p>

<p>
  <strong>Payment status:</strong>
  <%= @payment.payment_status %>
</p>

<p>
  <strong>Details:</strong>
  <%= @payment.details %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
